/* General navbar styles */
.navbar {
  background-color: #000000;
  padding: 15px 0; /* Reduced padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Navigation links styles */
.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative; 
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 12px 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e94560;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
  transform: scaleX(1);
}

.nav-links a:hover,
.nav-links a:focus {
  color: #e94560;
  background-color: rgba(233, 69, 96, 0.1);
}

.nav-links a.active {
  color: #e94560;
  background-color: rgba(233, 69, 96, 0.2);
}



.nav-links i {
  margin-right: 8px; 
  font-size: 20px; 
}

/* Brand name styles */
.brand-name {
  color: #e94560;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  text-decoration: none;
}

.brand-name i {
  margin-right: 12px;
  font-size: 32px;
  transition: transform 0.3s ease;
}

.brand-name:hover i {
  transform: rotate(360deg);
}

/* Toggler button styles */
.toggler {
  display: none; /* Hidden by default */
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's on top of other elements */
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Ensure brand and toggler are in a row */
    padding: 10px 0; /* Further reduced padding */
  }

  .brand-name {
    font-size: 24px;
    margin-right: auto; /* Push the brand name to the left */
  }

  .toggler {
    display: block; /* Show toggler button on small screens */
    margin-left: 2px; /* Further reduced margin to decrease space */
  }

  .nav-links {
    display: none; /* Hide navigation links by default */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000000;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex; /* Show navigation links when toggled */
    align-items: center; /* Ensure items are aligned properly */
    flex-wrap: wrap; /* Allow wrapping of items to fit within the container */
  }

  .nav-links a {
    width: auto; /* Ensure links do not stretch full width */
    text-align: center;
  }
}
