<div class="projects-section">
  <h2>My Projects</h2>
  <div class="project-cards-container">
    <div class="project-card" *ngFor="let project of projects; let i = index" [style.animation-delay]="i * 0.2 + 's'">
      <div class="project-image-container">
        <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-image" />
      </div>
      <div class="project-info">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <div class="project-links">
          <a [href]="project.liveDemoLink" target="_blank">Live Demo</a>
          <a [href]="project.gitRepoLink" target="_blank">Git Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>