/* Base fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-section {
  padding: 50px 20px;
  background-color: #000000; /* Black background */
  color: #ffffff;
  min-height: 100vh;
  border-top: 5px solid #e94560;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 1.5s ease-out;
  animation-fill-mode: forwards; /* Retain final animation state */
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

/* Smooth fade-in for the form */
.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 #e94560;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeInUp 1.5s ease-out 0.2s;
  animation-fill-mode: forwards;
}

.contact-form h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #e94560;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form label {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1rem;
  animation: fadeInUp 1.5s ease-out 0.4s;
  animation-fill-mode: forwards;
}

form input::placeholder,
form textarea::placeholder {
  color: #ffffff;
}

form button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  background-color: #e94560;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeInUp 1.5s ease-out 0.6s;
  animation-fill-mode: forwards;
}

form button:hover {
  background-color: #ff6b8b;
  transform: translateY(-3px);
}

.contact-svg {
  flex: 1;
  margin-left: 20px;
  animation: fadeInUp 1.5s ease-out 0.8s;
  animation-fill-mode: forwards;
}

.contact-svg img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

/* Hide SVG on screens smaller than 768px */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-svg {
    display: none; /* Hide SVG on small screens */
  }

  .contact-form {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 10px;
  }

  .contact-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  form input,
  form textarea {
    padding: 10px;
    font-size: 0.9rem;
  }

  form button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
